body{
    margin: 0px;
}
header{
    background-color: #ccc;
    
    text-align: center;
    line-height: 60px;
    height: 60px;
}
.sec1{
    background-color: #666;
    height: 60px;
    margin-top: 20px;
    text-align: center;
    line-height: 60px;
    float: left;
    margin-left: 2px;
}
.sec2{ 
    background-color: #888;
    height: 60px;
    margin-top: 20px;
    text-align: center;
    line-height: 60px;
    float: left;
}
.sec3{
    background-color: #666;
    height: 60px;
    margin-top: 20px;
    text-align: center;
    line-height: 60px;
    float: left;
    margin-right: 2px;
}
.sec1,.sec2,.sec3{
    width: 558px; 
}
.sec4{ 
    background-color: #eee;
    height: 360px;
    margin-top: 100px;
    text-align: right;
}
aside{
    background-color: #fff;
    width: 558px;
    margin-left: 60px;
    height: 300px;
    float: left;
    margin-top: 40px;
   text-align: center;
}
.sec4::after{
    content: "";
    clear: both;
    display: block;
    height: 1px;
}
div{
    background-color: #6ea3da;
    height: 60px;
    margin-top: 100px;
}
footer{
    background-color: #ccc;
    clear: both;
    height: 60px;
    text-align: center;
    line-height: 60px;
    margin-top: 20px;
}

   
    

