body{
    width: 960px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
    margin: auto;
}
header{
    height: 90px;
    background-color: white;
    margin: 10px auto;
    text-align: center;
    color:gray;
    line-height: 90px;
}
nav{
    height: 90px;
    background-color: white;
    margin: 10px auto;
    text-align: center;
    color:gray;
    line-height: 90px;
    margin-top: 10px;
}
section{
    background-color: white;
    color: gray;
    float: left;
    width: 59%;
    float: left;
    height: 300px;
    text-align: center;
    margin-top: 15px;
}
article{
    background: gray;
    color: white;
    text-align: center;
    clear: both;
    margin: 20px;
    margin-top: 60px;
}
article::after{
    content: "";
    display: block;
    clear: both;
    border: 1px solid gray;
    
}
h1,p{
    background-color: white;
    color: gray;
    padding: 10px;
    margin: 20px;
    
}
aside{
    width: 39%;
    background-color: white;
    color: gray;
    text-align: center;
    float: right;
    margin-top: 15px;
    height: 300px;

}
footer{
    
    clear: both;
    background-color: white;
    color: gray;
    height: 90px;
}
div{
    height: 15px;
    clear: both;
    display: block;
}